@mixin documentContainer {
  margin-top: 2em;
  width: 70%;
  position: relative;
  .invoice {
    border: 2px solid $primary;
    background-color: rgba($white, 0.85);
    border-radius: 8px;
    padding: 2em;
  }
}
